
.nav-item{
  color: #092036;
  background-color: rgb(171, 171, 171);
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;

}

.nav-item:hover{
  background-color: #092036;
  color: white;
}


#div1 {
  width: 700px;
  height: 200px;
  margin: 50px auto;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  padding: 60px;
  border-radius: 15px;
  background-image: url(img/images.png);
  background-repeat: repeat-x;
}

#div1 ul {
  top:10px;
  position: absolute;
  left: 0;
  display:flex; 

}

#div1 ul li {
  width: 140px;
  height: 180px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div1 img{
  height: 150px;
}



main img{
  width: 30%;
}

.flag{
  width: 40px;
}


footer{

  background-color: #092036;
  color: #f9f9f9;
  margin-top: 100px;
  padding: 50px;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #092036;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#cart-container{
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 400px;
  margin-right: 200px;
  height: fit-content;
}