.nav-item{
  color: #092036;
  background-color: rgb(171, 171, 171);
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;

}

.nav-item:hover{
  background-color: #092036;
  color: white;
}
